BOT_TOKEN=8252415810:AAEaXLQzQPqG7IbBTjiyn5DEb7oqq-ViKAE
API_ID=22645612
API_HASH=9d1efe52dbc0aa73769761eba71e02af
BOT_USERNAME=YNKKITUNEPRO_BOT
START_IMAGE_URL=https://i.imgur.com/6mKJQ6Z.png
SESSION_NAME=yt_bot_session