# ========= TELEGRAM BOT CONFIG =========

# my.telegram.org থেকে পাওয়া API_ID বসান
API_ID=22645612

# my.telegram.org থেকে পাওয়া API_HASH বসান
API_HASH=9d1efe52dbc0aa73769761eba71e02af

# BotFather থেকে পাওয়া Bot Token বসান
BOT_TOKEN=8252415810:AAEaXLQzQPqG7IbBTjiyn5DEb7oqq-ViKAE

# বটের সেশন নেম (default রাখুন)
SESSION_NAME=bot
